@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
    margin:0;
    text-align: center;
    background: rgb(213,166,208);
    background: radial-gradient(circle, rgba(213,166,208,1) 0%, rgba(96,162,201,1) 100%);
}

.container{
    height: 70vh;
    width: 60%;
    margin: 15vh auto;
    box-shadow: 2px 2px 8px 13px #424b6c;
}

.privacyMsg{
    box-shadow: rgb(221 192 192) 2px 2px 8px 3px;
    background: rgb(116, 137, 199);
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 5px;
}

#main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-section input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 8px;
    color: black;
    font-weight: 600;
    margin: 1rem;
}
#main-section #birthday-input label{
    font-size: larger
}
#main-section button{
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    background:rgb(111,163,202);
    color: #000000;
    border-radius: 0.5rem;
    border: none;
    border-width: medium;
    cursor: pointer;
    font-size: large;
}

#main-section button:hover{
    background-color:rgb(18, 64, 202);
    color: white;
}

#result{
    margin-top: 30px;
    font-size: 1.5rem;
    border-bottom: 3px solid grey;
    padding: 5px 20px;
    border-radius: 10px;
}