@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root{
    background-color: rgb(138, 138, 146);
    --primary-color:#2367dd;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: center;
}

h1,h2 {
    margin: 1em;
    margin-bottom: 0.5em;
}
p{
    padding: 0.5em;
    font-size: large;
}
input {
    margin: 1em;
    padding: 0.5em;
    border: 2px solid var(--primary-color);
    border-radius: 1em;
}

button{
    margin: 1rem;
    padding: 0.7em;
    background-color: var(--primary-color);
    color: var(--off-white);
    border-radius: 1em;
    border: none;
    font-size: large;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: black;
}

#result{
    font-size: x-large;
    padding: 1em; 
}